:root {
  --row: auto;
  --color-site-1: #bbdde6;
  --color-site-2: #651d32;
  --color-site-3: #ffd2b9;
}
/*************************
 * GRID SCHEDULE LAYOUT
 *************************/
@media screen and (min-width: 1024px) /* tablet */ {
  .schedule {
    display: grid;
    grid-gap: 1em;
    grid-template-rows:
      [tracks] auto
      [time-0845] var(--row)
      [time-0850] var(--row)
      [time-0855] var(--row)
      [time-0900] var(--row)
      [time-0905] var(--row)
      [time-0910] var(--row)
      [time-0915] var(--row)
      [time-0920] var(--row)
      [time-0925] var(--row)
      [time-0930] var(--row)
      [time-0935] var(--row)
      [time-0940] var(--row)
      [time-0945] var(--row)
      [time-0950] var(--row)
      [time-0955] var(--row)
      [time-1000] var(--row)
      [time-1005] var(--row)
      [time-1010] var(--row)
      [time-1015] var(--row)
      [time-1020] var(--row)
      [time-1025] var(--row)
      [time-1030] var(--row)
      [time-1035] var(--row)
      [time-1040] var(--row)
      [time-1045] var(--row)
      [time-1050] var(--row)
      [time-1055] var(--row)
      [time-1100] var(--row)
      [time-1105] var(--row)
      [time-1110] var(--row)
      [time-1115] var(--row)
      [time-1120] var(--row)
      [time-1125] var(--row)
      [time-1130] var(--row)
      [time-1135] var(--row)
      [time-1140] var(--row)
      [time-1145] var(--row)
      [time-1150] var(--row)
      [time-1155] var(--row)
      [time-1200] var(--row)
      [time-1205] var(--row)
      [time-1210] var(--row)
      [time-1215] var(--row)
      [time-1220] var(--row)
      [time-1225] var(--row)
      [time-1230] var(--row)
      [time-1235] var(--row)
      [time-1240] var(--row)
      [time-1245] var(--row)
      [time-1250] var(--row)
      [time-1255] var(--row)
      [time-1300] var(--row)
      [time-1305] var(--row)
      [time-1310] var(--row)
      [time-1315] var(--row)
      [time-1320] var(--row)
      [time-1325] var(--row)
      [time-1330] var(--row)
      [time-1335] var(--row)
      [time-1340] var(--row)
      [time-1345] var(--row)
      [time-1350] var(--row)
      [time-1355] var(--row)
      [time-1400] var(--row)
      [time-1405] var(--row)
      [time-1410] var(--row)
      [time-1415] var(--row)
      [time-1420] var(--row)
      [time-1425] var(--row)
      [time-1430] var(--row)
      [time-1435] var(--row)
      [time-1440] var(--row)
      [time-1445] var(--row)
      [time-1450] var(--row)
      [time-1455] var(--row)
      [time-1500] var(--row)
      [time-1505] var(--row)
      [time-1510] var(--row)
      [time-1515] var(--row)
      [time-1520] var(--row)
      [time-1525] var(--row)
      [time-1530] var(--row)
      [time-1535] var(--row)
      [time-1540] var(--row)
      [time-1545] var(--row)
      [time-1550] var(--row)
      [time-1555] var(--row)
      [time-1600] var(--row)
      [time-1605] var(--row)
      [time-1610] var(--row)
      [time-1615] var(--row)
      [time-1620] var(--row)
      [time-1625] var(--row)
      [time-1630] var(--row)
      [time-1635] var(--row)
      [time-1640] var(--row)
      [time-1645] var(--row)
      [time-1650] var(--row)
      [time-1655] var(--row)
      [time-1700] var(--row)
      [time-1705] var(--row)
      [time-1710] var(--row)
      [time-1715] var(--row)
      [time-1720] var(--row)
      [time-1725] var(--row)
      [time-1730] var(--row)
      [time-1735] var(--row)
      [time-1740] var(--row)
      [time-1745] var(--row)
      [time-1750] var(--row)
      [time-1755] var(--row)
      [time-1800] var(--row)
      [time-1805] var(--row)
      [time-1810] var(--row)
      [time-1815] var(--row)
      [time-1820] var(--row)
      [time-1825] var(--row)
      [time-1830] var(--row)
      [time-1835] var(--row)
      [time-1840] var(--row)
      [time-1845] var(--row)
      [time-1850] var(--row)
      [time-1855] var(--row)
      [time-1900] var(--row)
      [time-1905] var(--row)
      [time-1910] var(--row)
      [time-1915] var(--row)
      [time-1920] var(--row)
      [time-1925] var(--row)
      [time-1930] var(--row)
      [time-1935] var(--row)
      [time-1940] var(--row)
      [time-1945] var(--row)
      [time-1950] var(--row)
      [time-1955] var(--row)
      [time-2000] var(--row)
      [time-2005] var(--row)
      [time-2010] var(--row)
      [time-2015] var(--row)
      [time-2020] var(--row)
      [time-2025] var(--row)
      [time-2030] var(--row)
      [time-2035] var(--row)
      [time-2040] var(--row)
      [time-2045] var(--row)
      [time-2050] var(--row)
      [time-2055] var(--row)
      [time-2100] 0.5fr;
    /* Note 1:
    Use 24hr time for gridline names for simplicity

      Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
    Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
    */

    grid-template-columns:
      [times] 4em
      [track1] 1fr
      [track1 track2] 1fr
      [track2 track3] 1fr
      [track4];
  }
}

.timeColumn {
  grid-column: times;
  font-size: 1em;
  background-color: white;
  font-weight: 600;
  padding: 8px;
  border-radius: 8px 0 8px 8px;
  border-top: 6px solid black;
}

.trackSlot {
  display: none; /* hidden on small screens and browsers without grid support */
  font-weight: bold;
  font-size: 1.8rem;
}

@supports (display: grid) {
  @media screen and (min-width: 1024px) {
    .trackSlot {
      padding: 20px 5px 24px;
      position: sticky;
      top: 0;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 1);
    }

    .trackSlot div {
      padding: 4px 6px;
      border-bottom-style: solid;
      border-bottom-width: 8px;
      color: black;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    .trackSlot:nth-child(1) div {
      border-bottom-color: var(--color-site-1);
    }

    .trackSlot:nth-child(2) div {
      border-bottom-color: var(--color-site-2);
    }

    .trackSlot:nth-child(3) div {
      border-bottom-color: var(--color-site-3);
    }
  }
}

.gradientBorder {
  width: 100%;
  height: 4px;
  margin-bottom: 20px;
}

.timeSlot {
  margin: 0;
  font-size: 1em;
}

.track1 {
  background-color: #1259b2;
  color: #fff;
}

.track2 {
  background-color: #687f00;
  color: #fff;
}

.track3 {
  background-color: #544d69;
  color: #fff;
}

.trackAll {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  color: #000;
  box-shadow: none;
}

.text {
  max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;
}

.meta {
  color: #555;
  font-style: italic;
}

.meta a {
  color: #555;
}

hr {
  margin: 40px 0;
}
